<!DOCTYPE html>
<html>

<head>
  <title>New Demo</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <style>
    * {
      padding: 0;
      margin: 0;
      font-family: 'Poppins', sans-serif;
      border-collapse: collapse;
    }
  </style>
</head>

<body>
	
	<div style="width: 530px;margin: auto;border-radius: 13px;box-shadow: 0px 0px 3px #ddd;">
		<div style=" text-align: center;padding: 30px 30px;box-sizing: border-box;background: url(back.png);background-position: bottom right;background-size: cover;">
		<table>
		  <tbody>
			<tr>
			  <td>
				<div style="background: rgba(255, 255, 255, 0.8); box-sizing: border-box; padding: 22px 30px; border-radius: 50px;box-shadow: 0px 0px 9px #ddd;margin-top: 0px;">
					<p><img src="logo.png" alt="" style="width: 200px;border-radius: 20px;/*! background: #fff; */padding: 20px 10px;margin-bottom: 20px;"> </p>
	
					<img src="lock.png" alt="" style="width: 80px;border-radius: 20px;margin-bottom: 30px;">			  <table>
					<tbody>
					  <tr>
						<td style="padding: 0px 0 15px;">
						  <h3 style="font-size: 27px;color: #ff3008;text-transform: uppercase;margin-top: 0px;">Reset Password </h3>
						</td>
					  </tr>
					  <tr>
						<td style="padding: 0px 0 0px;color: #000;">If you've lost your password or wish to reset it, use the link to get started. 
						</td>
					  </tr>
					  <tr>
						<td style="padding: 0px 0 0px;color: #fff;"><p> <a href="#" target="_blank" class="link c-white" style="display: block; padding: 15px 35px; text-decoration:none; color:#fff;background-image:linear-gradient(#ff3008, #641212);border-radius: 10px;font-weight: bold;font-size: 17px;width: 50%;margin: 0 auto;margin-top: 20px;">
							Reset your Password
						</a>
					</p>
						</td>
					  </tr>
					  <tr>
						<td style="padding: 20px 0 10px;color: #000;">Should you have any issues please contact </td>
					  </tr>
					 
					  <tr>
						<td style="padding: 0 0 30px;color: #090909;font-size: 12px;letter-spacing: 2px;font-weight: 600;">Have fun.</td>
					  </tr>
					</tbody>
				  </table>
				</div>
			  </td>
			</tr>
		  </tbody>
		</table>
	
	  </div>
	  </div>

</body>

</html>